/* holder */
.info-section .holder{
	overflow:hidden;
	padding:31px 5px 74px 11px;
	width:720px;
	border-left:1px solid #d1d1d1;
}
/* block */
.info-section .block{
	padding:0 0 54px;
}
/* cell */
.info-section .cell{
	display:inline-block;
	vertical-align:bottom;
	width:354px;
	margin:0 12px 0 0;
}

.info-section .cell2{
	display:inline-block;
	vertical-align:top;
	width:726px;
	margin:0 12px 0 0;
	line-height:20px;
}

*+html .info-section .cell{
	display:inline;
	margin:0 14px 0 0;
}

/* list */

ul.lista_ok li{
	list-style: disc;
	padding-bottom:14px;
	}
	

.info-section .menu li {
    background: url("../images/divider-menu.gif") no-repeat scroll 0 0 transparent;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
/* menu */
.aside ul.menu{
	margin: 0;
	}
/*, .info-section .menu   a:hover*/
.info-section .menu  li a {
    /*background: url("../images/bg-menu.png") no-repeat scroll -5px -268px transparent;*/
	/*background-position:-5px top !important;*/
	margin-left: -5px;
}
/* aside */
/*.info-section .aside2{
	width:195px;
	margin:0;
	padding:49px 0 0;*/








