@charset "utf-8";
/* CSS Document */

.columns-section .column{
float: left;
    padding: 5px;
width: 290px;
	}
.columns-section .column.col1, .columns-section .column.col2{
	margin-right:10px;
	 border-right: 1px solid #BBBBBB;
	
	}

.column .text{
	font-style: italic;
    font-weight: bold;
	}