@charset "utf-8";
/* CSS Document */

.info-section p{
	/*font-family:Arial, Helvetica, sans-serif;
	font-size:36px;*/
	}
	
/* cell */
.info-section .cell{
	display:inline-block;
	vertical-align:top;
	width:345px;
	margin:0 12px 0 0; 
}
 
