@charset "utf-8";
/* CSS Document */

ul.load-more-pager li.pager-next{
    background: none repeat scroll 0 0 #444444;
    border-radius: 16px 16px 16px 16px; 
    display: block;
    height: 33px;
    left: 50%;
    margin: 0 0 0 -20px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 33px;
	-webkit-transition:all 500ms ease-in-out;
	-moz-transition:all 500ms ease-in-out;
	-o-transition:all 500ms ease-in-out;
	transition:all 500ms ease-in-out;
	}

ul.load-more-pager li.pager-next.emptypager{ 
	display:none;
	}
ul.load-more-pager li.pager-next:hover{background:#afa4d2;}

ul.load-more-pager li.pager-next a{
	-webkit-transition: 0;
	-moz-transition:0;
	-o-transition:0;
	transition:0;

    display: block;
    ;
    overflow: hidden;
    text-indent: -9999px;
	height: 11px;
    margin: 11px 0 0 11px;
    width: 11px;
	background: url("../images/bg-form.png") no-repeat scroll 0 -152px transparent;
	
	
	}

ul.load-more-pager li.pager-next a.views-throbbing{
	height: 16px;
	width: 16px;
	background: url("../images/loadingspinner.gif") no-repeat scroll 0 0 transparent;
	margin: 8px 0 0 8px;
	}
	
	

.terms-inline ul{
	 border: medium none;
    font-size: 1em;
    line-height: 1.583em;
    padding: 0 0 9px;
	font-style:italic;
	
	}
.terms-inline ul li{
	float: left;
    padding: 0 13px 0 0;
	text-transform:capitalize;	
	}
p a{
	text-decoration:underline;
	}
.terms-inline ul li a{
	text-decoration:none;
	}
	
#content  h2.subtitulo, h2.subtitulo {
    font: 700 1.333em/1.438em 'Asap',Arial,Helvetica,sans-serif;
    margin: 0 0 8px;
    text-transform: none;
	font-style:italic;
	
}
#tocplayer{
	margin: 20px 0}
	
	div.meta{
		border-bottom:1px solid #999;
		border-top:1px solid #999;
		display: inline-block;
		margin: 20px 0}
		}
		
		

	
 		
.imagegrid {
    display: block;
    margin: 0 0 12px;
    position: relative;
	width:223px;
	height:223px;
	} 
 
.grayoverImage .grey-image{
	position:absolute;
	top:0;
	left:0;
	-webkit-transition:all 500ms ease-in-out;
	-moz-transition:all 500ms ease-in-out;
	-o-transition:all 500ms ease-in-out;
	transition:all 500ms ease-in-out;
}
.gray_link:hover{ 
	box-shadow: 0 0 5px #bcbcbc;
	-webkit-box-shadow: 0 0 5px #bcbcbc;
	-moz-box-shadow: 0 0 5px #bcbcbc;
}
.gray_link:hover .grayoverImage .grey-image{opacity:0;}

.grid-list li {
    display: inline-block !important;
    width: 223px;
}

.gray_link .title{
	background:none;
	padding:0;
	}
	
	
/********************** coworkers *******************************/
.gray_link.coworkercell .title{
	background: url("../images/divider-grey.gif") repeat-x scroll 0 100% transparent;
	font-size:11px;
	padding:0;
	padding-bottom: 13px;
	}
.gray_link.coworkercell:hover{ 
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
}
.gray_link.coworkercell .info{
	-webkit-transition:all 500ms ease-in-out;
	-moz-transition:all 500ms ease-in-out;
	-o-transition:all 500ms ease-in-out;
	transition:all 500ms ease-in-out;  
	
	}
.gray_link.coworkercell .info .text{
	line-height:1.6em !important;
	}
	
.grid-list .views-row-1 .info{background-color:#dbf7ff;}
.grid-list .views-row-2 .info{background-color:#ffe1da;}
.grid-list .views-row-3 .info{background-color:#e0fbed;}
.grid-list .views-row-4 .info{background-color:#d5dbff;}
.grid-list .views-row-5 .info{background-color:#fffedc;}
.grid-list .views-row-6 .info{background-color:#ffcbd3;}
.grid-list .views-row-7 .info{background-color:#bbf5e8;}
.grid-list .views-row-8 .info{background-color:#afebff;}
.grid-list .views-row-9 .info{background-color:#ffe2db;}
.grid-list .views-row-10 .info{background-color:#d5dbff;}
.grid-list .views-row-11 .info{background-color:#dcf8ff;}
.grid-list .views-row-12 .info{background-color:#fffedc;}
.grid-list .views-row-13 .info{background-color:#afebff;}
.grid-list .views-row-14 .info{background-color:#ffe1da;}
.grid-list .views-row-15 .info{background-color:#ffcbd4;}
.grid-list .views-row-16 .info{background-color:#bbf6e8;}
.grid-list .views-row-17 .info{background-color:#d5dbff;}
.grid-list .views-row-18 .info{background-color:#e0fbed;}
.grid-list .views-row-19 .info{background-color:#afebff;}
.grid-list .views-row-20 .info{background-color:#dcf8ff;}


/******************************************************************** profile *********************/

.profile-section {
	float: left;
    margin: 0 auto;
    overflow: visible;
    padding: 15px 0 25px;
    width: 928px;
}

.profile-section .holder {
    font-size: 12px;;
    height: 100%;
    line-height: 1.917em;
   /* overflow: hidden;*/
	 width: 570px;
    padding: 0 6px 0 0;
	float:right;
}

ul.links{
	display:inline;
	height:auto;
	overflow:visible;
	}
ul.links li{
	display:block;
	float:left;
	font-style:italic;
	padding-left: 0;
	}
.etiquetascoworker{
	margin-bottom: -5px !important;
    margin-top: 10px !important;
	}
#coworkertags .links{
	overflow:visible;
	}
	/*********************************************** QUITar 1111111111111111111111!!!!!!!!!!!!!!****/
li.comment_forbidden{
	display:none !important;
	} 