@charset "utf-8";
/* CSS Document */

ul.load-more-pager li.pager-next{
    background: none repeat scroll 0 0 #444444;
    border-radius: 16px 16px 16px 16px;
    display: block;
    height: 33px;
    left: 50%;
    margin: 0 0 0 -20px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 33px;
	-webkit-transition:all 500ms ease-in-out;
	-moz-transition:all 500ms ease-in-out;
	-o-transition:all 500ms ease-in-out;
	transition:all 500ms ease-in-out;
	}

ul.load-more-pager li.pager-next:hover{background:#afa4d2;}

ul.load-more-pager li.pager-next a{
	-webkit-transition: 0;
	-moz-transition:0;
	-o-transition:0;
	transition:0;

    display: block;
    ;
    overflow: hidden;
    text-indent: -9999px;
	height: 11px;
    margin: 11px 0 0 11px;
    width: 11px;
	background: url("../images/bg-form.png") no-repeat scroll 0 -152px transparent;
	
	
	}

ul.load-more-pager li.pager-next a.views-throbbing{
	height: 16px;
	width: 16px;
	background: url("../images/loadingspinner.gif") no-repeat scroll 0 0 transparent;
	margin: 8px 0 0 8px;
	}
	
	

.terms-inline ul{
	 border: medium none;
    font-size: 1em;
    line-height: 1.583em;
    padding: 0 0 9px;
	font-style:italic;
	
	}
.terms-inline ul li{
	float: left;
    padding: 0 13px 0 0;
	text-transform:capitalize;	
	}